
<div class="landing-page" id="landing">
  
  <div class="intro">
    
    <h1 class="pop-in">
      
     I'm Lut Lat Aung</h1>
    <div class="typing-container">
      
    <a class="typing-text">
      {{ currentText }}    </a>
    </div>
  </div>
  
  <p class="scrolldown">Scroll down to explore my portfolio</p>
  <a (click)="scrolltocontent()" href="#content" class="scroll-btn">▼</a>
</div>


<div id="content">
  <div class="home-container">
    <!-- Hero Section -->
    <div class="hero-section">
      <h1>Welcome to My Portfolio</h1>
      <p>Your one-stop place to explore my skills and projects.</p>
      <button mat-raised-button color="primary" (click)="openProject('https://github.com/Lut-Lat-Aung')">Explore Github</button>

    </div>

  <!-- About Section -->
  <div class="about-section">
    <h2 class="section-title">About Me</h2>
    <div class="about-container">
      <!-- Image Column -->
      <div class="about-image">
        <img src="/assets/lutlataung.jpg" alt="Lut Lat Aung">
      </div>
      <!-- Text Column -->
      <div class="about-text">
        <h3>Lut Lat Aung</h3>
        <h4>Passionate Full-Stack / Game / AR Developer</h4>
        <p>
          Hi, I'm <strong>Lut Lat Aung</strong>, aka Alex, a developer passionate about crafting engaging user experiences
          and solving complex challenges. With expertise in <strong>Java</strong>, <strong>Angular</strong>, <strong>C#</strong> and
          <strong>Unity</strong>, I have a proven track record of delivering innovative solutions.
        </p>
        <p>
          My journey as a developer has been fueled by a love for learning, collaborating, and building
          impactful projects. Explore my portfolio to see how I bring ideas to life!
        </p>
      </div>
    </div>
  </div>
  
</div>

  <!-- Skills Section -->
   <div class="app">
    <div class="tag-list">
      <div class="loop-slider" style="--duration:15951ms; --direction:normal;">
        <div class="inner">
          <div class="tag"><span>#</span> Python</div>
          <div class="tag"><span>#</span> React</div>
          <div class="tag"><span>#</span> TypeScript</div>
          <div class="tag"><span>#</span> Angular</div>
          <div class="tag"><span>#</span> Next.js</div>
          <div class="tag"><span>#</span> Data Mining</div>
          <div class="tag"><span>#</span> AR Dev</div>
          <div class="tag"><span>#</span> Android Dev</div>
          <div class="tag"><span>#</span> C++</div>
          <div class="tag"><span>#</span> C#</div>
          <div class="tag"><span>#</span> Unity</div>
          <div class="tag"><span>#</span> Game Dev</div>

          <!-- duplicated content -->
          <div class="tag"><span>#</span> Python</div>
          <div class="tag"><span>#</span> React</div>
          <div class="tag"><span>#</span> TypeScript</div>
          <div class="tag"><span>#</span> Angular</div>
          <div class="tag"><span>#</span> Next.js</div>
          <div class="tag"><span>#</span> Data Mining</div>
          <div class="tag"><span>#</span> AR Dev</div>
          <div class="tag"><span>#</span> Android Dev</div>
          <div class="tag"><span>#</span> C++</div>
          <div class="tag"><span>#</span> C#</div>
          <div class="tag"><span>#</span> Unity</div>
          <div class="tag"><span>#</span> Game Dev</div>
        </div>
      </div>
      
      </div>
      </div>


  

  <!-- Projects Section -->
  <div class="projects-section">
    <h2>My Projects</h2>
    <div class="project-cards">
      <mat-card class="project-card" *ngFor="let project of projects">
        <mat-card-header>
          <mat-card-title style="color:#00d4ff">{{ project.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ project.description }}</p>
        </mat-card-content>
        
        <mat-card-actions >
          <a style="margin-left:5px">View -</a>
          <a *ngIf="project.link">
          <button style="color:white" mat-button color=""  (click)="openProject(project.link || 'https://github.com/Lut-Lat-Aung')">Project</button>
          
          <a style="margin-left:5px">or</a>
        </a>
          <button style="color:white" mat-button color="" (click)="openProject(project.github || 'https://github.com/Lut-Lat-Aung')">Github</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <!-- Experience Section -->
    <experience></experience>
  

  <!-- Education Section -->
  <education></education>
  
  <!-- Contact Section -->
  <div class="contact-section">
    <h2>Contact Me</h2>
    <div class="contact-details">
      <contact></contact>
    </div>
  </div>
  

  </div>
  
